* {
    padding: 0px;
    margin: 0px;
}

body {
    margin-top: 100px!important;
}

li {
   list-style: none;
}

ul {
    list-style-type: none!important;
}

ul.navbar-right {
    margin-right: 0;
}
