{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    我的网站 | 首页
{% endblock %}

{% block header_extends %}
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <script src="http://cdn.hcharts.cn/highcharts/highcharts.js"></script>
{% endblock %}

{% block nav_home_bar %}
    active
{% endblock %}

{% block content %}
    <h3 class="home-content">欢迎来到我的博客</h3>
    <div id="container" style="width: 600px;height:400px;"></div>
    <h3>今天热门博客</h3>
    <ul>
        {% for hot_blog in today_hot_blog %}
            <li>
                <a href="{% url 'blog_detail' hot_blog.object_id %}">
                    {{ hot_blog.content_object.title }}({{ hot_blog.read_num }})
                </a>
            </li>
        {% empty %}
            <li>暂时没有</li>
        {% endfor %}
    </ul>
    <h3>昨天热门博客</h3>
    <ul>
        {% for hot_blog in yesterday_hot_blog %}
            <li>
                <a href="{% url 'blog_detail' hot_blog.object_id %}">
                    {{ hot_blog.content_object.title }}({{ hot_blog.read_num }})
                </a>
            </li>
        {% empty %}
            <li>暂时没有</li>
        {% endfor %}
    </ul>
    <h3>近七天热门博客</h3>
    <ul>
        {% for hot_blog in weekly_hot_blog %}
            <li>
                <a href="{% url 'blog_detail' hot_blog.id %}">
                    {{ hot_blog.title }}({{ hot_blog.read_num_sum }})
                </a>
            </li>
        {% empty %}
            <li>暂时没有</li>
        {% endfor %}
    </ul>
    <script>
        // 图表配置
        var options = {
            chart: {type: 'line'},
            title: {text: null},
            xAxis: {
                categories: {{ date_list | safe }},  // x 轴分类
                tickmarkPlacement: 'on',
                title: {text: '近七日阅读量变化'}
            },
            yAxis: {
                title: {text: null},
                labels: {enabled: false},
                gridLineDashStyle: 'Dash'
            },
            series: [{                              // 数据列
                name: '阅读量',                     // 数据列名
                data: {{ read_nums_list }},        // 数据
            }],
            plotOptions: {
                line: {
                    dataLabels: {
                        enabled: true
                    }
                }
            },
            legend: {enabled: false},
            credits: {enabled: false},
        };
        // 图表初始化函数
        var chart = Highcharts.chart('container', options);
    </script>
{% endblock %}
